{% extends 'orders/header.html' %}

{% block content %}
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top:20px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d54880.959884366785!2d76.78197756417296!3d30.71671380076401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurants!5e0!3m2!1sen!2sin!4v1654523810695!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="row justify-content-center" style="margin-top:20px;">

        <ul>
          <li>Located in Chandigarh.</li>
          <li>Coming soon in SAS nagar,Mohali</li>
        </ul>

      </div>

    </div>

{% endblock %}
